* {
	box-sizing:border-box;
}

html,
body {
	font-family:sans-serif;
	padding:0;
	margin:0;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style:none;
	padding-left:1em;
}
.basic-list {
	list-style:inherit;
}

::selection {
	background:#eee;
}


/* Counters */
.hierarchy  {
	ol,
	.ia ol {
		counter-reset: item;
	}
	li a:before,
	li span:before { 
		content: counters(item, ".") ".0 ";
		counter-increment: item;
		border-right:1px solid #888;
		margin-right:.3em;
		color:rgba(0,0,0,.5);
		font-size:.7em;
		text-decoration: none;
	}
		ol:first-of-type > li li a:before,
		ol:first-of-type > li li span:before { 
			content: counters(item, ".") " ";
		}
		/* Add to the end of the numbering! .x kinda thing! */
		ol:first-of-type > li.x a:before,
		ol:first-of-type > li.x span:before {
			content: counters(item, ".") ".x ";
		}
		.x {
			font-style:italic;
		}
}

.overview {
	width:250px;
	margin-right:2em;
	background:#eee;
	border-right:1px solid grey;
	padding:1em 2em 1em 1em;
	position:fixed;
	z-index:2;
	height:100%;
	top:0;
	font-size:.8em;

	.hierarchy {
		overflow:auto;
		height:90%; // Not 100, this compensates for the H2. Can be better. 
		border-bottom:1px solid #888;
	}
	.primary > li {
		margin:1em 0;
	}

	.tab {
		position:absolute;
		right:-.7em;
		top:3em;
		background:#eee;
		height:33px;
		width:.7em;
		border-radius:0 5px 5px 0;
		border:1px solid grey;
		border-left:0;
		cursor:pointer;
		text-align: center;
		line-height: 8px;
		color: #aaa;
		text-shadow: 1px 1px #fff;
	}
}


.flow {
	margin-left:250px;		
	padding:1em 2em;
	position:relative;

	.hierarchy {
		li a,
		li span {
			display:block;
			background:rgba(0,0,0,.1);
			border:1px solid #aaa;
			padding:.5em 1em;

			&:hover {
				background:rgba(0,0,0,.07);
			}
		}
	}
		
		// Home
		.hierarchy .ia > li > span {
			display:inline;
		}
	.primary {
		padding:0;
	}
	.primary > li {
		/*Flexbox?*/
		display:block;
		float:left;
		padding-left:1em;
	}
	.primary > li:first-child {
		padding-left:0;
	}
		.primary li {
			margin:1em 0;
		}

	li.parent {
		position: relative;
		
		a,
		span {
			padding-right:3em;
			cursor:pointer;
		}
	}
	li.parent:before {
		content: " > ";
		display:block;
		background:rgba(0,0,0,.15);
		color:#fff;
		position: absolute;
		right: 0;
		padding: .25em .5em;
		margin: .33em;
		z-index:-1;
	}
	.ia > li.parent:before {
		display:none;
	}
} // Flow

	.hierarchy [href*="#"] {
		text-decoration: none;
		cursor:default;
		color:#444;
	}

		// Home
		.hierarchy .ia > li > span {

			&:before {
				content:"0.0 ";
			}
		}

	.hierarchy :not[href*="#"] {
		text-decoration: underline;
		cursor:pointer;
		color:#00c;
	}

	.group:after {
	  content: "";
	  display: table;
	  clear: both;
	}


	.tool-box {
		position:fixed;
		top:1em;
		right:1em;
		opacity:.7;
		padding:.2em .2em 0;
		border:1px solid #ddd;
		background:#fff;

		&:hover {
			opacity:1;
		}
	}

	.tools {
		display:none;
		position:fixed;
		top:2.8em;
		right:1em;
		border:1px solid #777;
		background:#eee;
		padding:1em;

		a {
			display:block;
			line-height: 1.5;
			font-size:.85em;
			margin-top:.7em;

			&:hover {
				background:rgba(0,0,0,.05);
			}
		}

		.tool-close {
			background:#ddd;
			text-align: center;
			padding:.1em;
			cursor:pointer;
		}
	}

@media (max-width:1023px) {
	.overview {display:none;}
	.flow {width:100%;}
}


@media print {
	.tools, .tool-box {
		display:none;
	}

	.flow .primary > li {
		width: 25em;
		float:none;
		margin-bottom: 5em !important;
	}
}

